body{
}
html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}
._overcast_ {
    
    z-index: -2;

    margin-left: -288px;
    margin-top: -800px;

    position: absolute;
    width: 1920px;
    height: 1080px;
}

.server_logo {
    position: absolute;
    /*background-image: url("https://puu.sh/DRkcR.png");*/
    background-size: 100% 100%;
    width: 800px;
    height: 400px;
    margin-top: -400px;
    margin-left: 380px;

    z-index: 0;
}

.character_undercast {

    position: absolute;

    z-index: -1;

    margin-top: -500px;
    margin-left: -350px;
    width: 10000px;
    height: 10000px;  
    cursor: not-allowed;
}

.main-container {
    display: none;
    cursor: default;
    width: 70vw;
    margin: auto;
    position: relative;
    top: 35vh;  
}
.cover-background{
	background-image: url("https://i.imgur.com/oMCRIAe.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width:100%;
	height:100%;
}
.character-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    left: 0;
    right: 0;
    margin-left: 90px;
}

.hr_top {
}

.over_characters {
    margin: 10px;
    z-index: 99999;
    border-top: 2px solid #00f2ff;
}

.character-box {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 300px;
    margin: -40px;
    margin-left: -250px;
    margin-top: 270px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
	background-color: #252525;
}

.character-box h3{
	padding: 5px;
	float: left;
	width: 100%;
	font-size: 28px;
	text-shadow: 0 0 3px #0000, 0 0 5px #000; 
	background-color: #252525;
}

.character-box:hover {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 325px;
    margin: -40px;
    margin-left: -250px;
    margin-top: 270px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
	background-color: #252525;
}
.main-container img{
	margin-right: 5px;
}

.character-info {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    color: #000;
    text-align: left!important;
    text-indent: 12px;
	width: 100%;
	background: #fff;
	height: 85%;
}

.character-info-new {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 5px;
    color: rgb(211, 211, 211);
    font-weight: 400;
    text-indent: 12px;
}

.character-fullname {
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    text-indent: 12px;
    font-weight: 500;
}

.character-buttons {
    display: none;
}

.border-buttons {
    position: relative;
}

.btn {
    border: 2px solid white;
    background: 0;
    outline: 0;
}

.btn-play {
    color: fff;
    background: rgba(0, 0, 0, 0.7);
    outline: 0;

    margin-left: -155px;
    margin-top: -860px;

    width: 200px;
    height: 50px;

    letter-spacing: 0px;

    transition: all 1.5s ease-in;

    animation: buttonClick1 1s;
}

@keyframes buttonClick1 {
    from {
        transform: translateY(-100px);
        opacity: 0.2;
    }

    to { 
        transform: translateY(0px);
    }
}

.btn-delete {
    color: red;
    background: rgba(0, 0, 0, 0.7);
    outline: 0;

    margin-left: 75px;
    margin-top: -860px;

    width: 220px;
    height: 50px;

    letter-spacing: 0px;

    transition: all 1.5s ease-in;

    animation: buttonClick2 1s;
}

@keyframes buttonClick2 {
    from {
        transform: translateY(-100px);
        opacity: 0.2;
    }

    to { 
        transform: translateY(0px);
    }
}

.btn-play:hover {
    background: rgba(0, 0, 0, 0.9);
}

.btn-delete:hover {
    background: rgba(0, 0, 0, 0.9);
}

.active-char {
    margin-top: 250px;
    background: rgb(21, 21, 26);
    background-color: rgb(21, 21, 26);
}

.server_name {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;

    color: white;
    
    position: absolute;
    transform: translateX(47%);
    margin-top: -155px;
    left: 0;
}

.under_servername {
    
    position: absolute;
    color: white;
    font-size: 20px;
    transform: translateX(265%);
    margin-top: -85px;
}

#box1 {
    animation: box1 1.2s;
}

#box2 {
    animation: box1 .9s;
}

#box3 {
    animation: box1 .6s;
}

#box4 {
    animation: box1 .3s;
}

@keyframes box1 {
    from {
        transform: translateY(-100px);
        opacity: 0.4;
    }

    to { 
        transform: translateY(0px);
        opacity: 0.95;
    }
}

@keyframes box2 {
    from {
        transform: translateY(-300px);
        opacity: 0.3;
    }

    to { 
        transform: translateY(0px);
        opacity: 0.94;
    }
}

@keyframes box3 {
    from {
        transform: translateY(-500px);
        opacity: 0.2;
        opacity: 0.93;
    }

    to { 
        transform: translateY(0px);
    }
}

@keyframes box4 {
    from {
        transform: translateY(-700px);
        opacity: 0.1;
        opacity: 0.92;
    }

    to { 
        transform: translateY(0px);
    }
}