.menu {
  font-family: 'Bebas Neue', cursive;
  position   : absolute;
  left       : 50%;
  top        : 50%;
  transform  : translate(-50%, -50%);
  box-shadow : 0px 0px 50px 0px #000;
  overflow-y : auto;
  max-height : 90%; 
  border-radius: 5px;
  -webkit-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
}

.menu button {
  border: 1px solid #771282;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 200;
  color: #771282;
  outline: 0;
  background: 0;
  transition: all 0.1s ease-in-out;
}

.menu button:hover{
  border: 1px solid #771282;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  outline: 0;
  background: 0;
  transition: all 0.1s ease-in-out;
  background-color: #771282;
}

.menu > table {
  border          : 1px transparent;
  border-spacing  : 0;
  min-width       : 400px;
  background-color: #FFF;
}

.menu > table > thead {
  background-color: #771282;
  text-align      : center;
  height          : 40px;
  line-height     : 40px;
  color           : #fff;
}

.menu td {
  text-align: center;
  padding   : 8px;
}

.menu tbody tr:nth-child(even) {
  background      : rgba(28, 28, 30, 255);
  color           : #771282;
}

.menu tbody tr:nth-child(odd) {
  background      : rgba(28, 28, 30, 255);
  color           : #771282;
}
